# ------------------------------------------------------------------------------

- name: Install Vault with asdf
  import_role:
    name: trallnag.asdf_plugin
  vars:
    asdf_plugin_name: vault
    asdf_plugin_git_url: https://github.com/asdf-community/asdf-hashicorp.git
    asdf_plugin_package_versions: ["1.9.0"]
    asdf_plugin_package_version_global: "1.9.0"

# ------------------------------------------------------------------------------
# Bash

- name: Setup completion for Bash
  blockinfile:
    path: "{{ bash_bashrc_middle }}"
    marker: "# {mark} :: ANSIBLE MANAGED BLOCK :: {{ role_name }}"
    block: |
      complete -C vault vault

# ------------------------------------------------------------------------------
# Zsh

- name: Setup completion for Zsh
  ansible.builtin.blockinfile:
    path: "{{ zsh_zshrc_bottom_after_comp_init }}"
    marker: "# {mark} :: ANSIBLE MANAGED BLOCK :: {{ role_name }}"
    block: |
      complete -o nospace -C vault vault

# ------------------------------------------------------------------------------
